.block {
  position: relative;
  margin-bottom: 0 !important;

  :global(.ant-typography-actions) {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 1;
    margin: 0;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &:hover :global(.ant-typography-actions),
  &:focus-within :global(.ant-typography-actions) {
    opacity: 1;
  }
}

.compact :global(.ant-typography-actions) {
  top: 8px;
  right: 8px;
}
